.header{
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 40px;
    margin-bottom: 80px;
}

.title{
    padding: 40px 0;
    font-size: 25px;
    color: #141220;
    font-family: sans-serif;
}

.itens{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    color: aliceblue;
    align-items: center;
    gap: 8px;

}
.label{
    border-radius: 8px;
    border-style: none;
    text-align: center;
    width: 90px;
    height: 25px;
    padding: 2px;
    font-weight: 500;
    font-size: 18px;
}